{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": [
          "${admin_user_arns}"
        ]
      },
      "Action": "sts:AssumeRole"
    }
  ]
}
